body {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(to left, rgb(255, 217, 0), orange, rgba(255, 0, 0, 0.753));
}

* {
  zoom: 94%;
}

.webpicture {
  width: 100%;
  height: 12.5rem;

}

h6{
  font-weight: 700;
  color: #000;
  font-size: 30px;
}

.logo {
  position: absolute;
  width: 12.5rem;
  top: 0.0625rem;
  left: 0.3125rem;
  margin-right: 6.25rem;
}

P {
  color: black;
  font-size: 1.5rem;
}

legend {
  color: black;
  font-size: 1.5rem;
}

/* roulette_center */

.roulette_wheel {
  display: flex;
  justify-content: center;
  size: 12.5rem;
}

#score {
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  color: black;
}

/* Car list style */

.mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.Firstflex .secondSection .thirdSection {
  flex-direction: row;
  /* margin-left: 0.625rem; */
  margin-right: 0.625rem;

}

.Div-usersList {
  /* height: 3.125rem;
  width: 18.75rem;
  border: solid;
  border-width: 0.2rem;
  border-color: black;
  border-radius: 0.8rem; */
  margin-left: 1.2rem;
  margin-bottom: 0.2rem;
  font-size: 1.5625rem;
  font-weight: 700;
  color: black
}

.wheel {
  padding-left: 20%;
  width: fit-content;

}

.thirdSection {
  flex-shrink: 1;
  padding-right: 5%;
}

.carList {
  display: flex;
  flex-wrap: wrap;
  height: 15.625rem;
  width: 12.5rem;
  border: none;
}

.Div-carList {
  /* border: solid;
  border-color: black;
  border-width: 0.3125rem;
  height: 15.625rem;
  width: 15.625rem; */
  font-size: 1.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4375rem 1.25rem 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width:320px) {
  body {
    flex-direction: column;
  }

  .wheel {
    margin: auto 0;
    top: 64rem;
    left: 0rem;
    height: 35rem;
    width: 35rem;
    font-size: 0.525rem;
  }
}


@media screen and (max-width:961px) {
  body {
    flex-direction: column;
  }

  .wheel {
    margin: auto 0;
    top: 64rem;
    left: 0rem;
    height: 35rem;
    width: 35rem;
    font-size: 0.525rem;
  }
}
